* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #14bdac;
  margin: 0;
  text-align: center;
}

h1 {
  color: rgb(84, 84, 84);
}

.game-block {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 20px auto;
}

.item {
  background-color: white;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: black;
}

.item:not(.winner):hover {
  background-color: lightgray;
}

.center {
  text-align: center;
}

#info {
  color: rgb(84, 84, 84);
  font-size: 30px;
}

.winner {
  background-color: yellowgreen;
}
